<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>百度一下</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<div class="wrap">
    <div class="m-c">
        <div class="s-form">
            <div class="b-lg">
                <img src="images/b_lg.png" alt="">
            </div>
                <div id="app" class="text-wrap fix" v-cloak>
                    <div class="m-msg" :class="{hide: fH}">
                        <ul>
                            <li class="msg-item" v-for="(item, index) in dataList" v-on:click="clickSearch" :class="{selected: index == nowIndex}" @mouseover="mouseHover(index)">
                                <span>{{item}}</span>
                            </li>
                        </ul>
                    </div>
                    <input class="s-input fl" v-model="msg" type="text"
                           @keyup = "getData($event)"
                           @keydown.down = "downArrow()"
                           @keydown.up.prevent= "upArrow()">
                    <span class="s-btn fl">
                        <button type="button" v-on:click="clickSearch">百度一下</button>
                    </span>
                </div>
        </div>
    </div>
</div>
<script src="js/vue.js"></script>
<script src="https://cdn.bootcss.com/vue-resource/1.3.4/vue-resource.js"></script>
<script src="js/index.js"></script>
</body>
</html>
